<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>WebRTC Sample</title>
  <link rel="stylesheet" href="/css/base.css">
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <div class="box" id="statebox">
    <div id="current_state"></div>
  </div>
  <div class="box" id="loginbox">
    user name: 
    <input type="text" id="username" placeholder="user name here">
    <button id="login">LOGIN</button>
  </div>
  <div class="box" id="lobbybox">
    room name: 
    <input type="text" id="roomname" placeholder="room name here">
    <button id="create">CREATE ROOM</button>
    <div id="roomlist"></div>
  </div>
  <div class="box" id="roombox">
    <div id="roominfo"></div>
    <video id="localVideo" class="videoplayer" autoplay playsinline></video>
    <video id="remoteVideo" class="videoplayer" autoplay playsinline></div>
  </div>
  <script src="/js/app.js"></script>  
</body>

</html>